/*
COLORS
Primary colors:
Blue 1 #5999D4
Yellow #FBA01D
Ivory #F0E4D8
Green 1 #719D48

Secondary colors:
Blue 2 #0F4C81
Dark Orange #E86826
Light Black #272B2E
Green 2 #606C38

Font:
(Google font) Heebo
Header 1      fs: 2.25em  fw: 700 lh: 1.5
Header 2      fs: 2.00em  fw: 700 lh: 1.5
Header 3      fs: 1.75em  fw: 600 lh: 1.5
Header 4      fs: 1.50em  fw: 900 lh: 1.7
Body          fs: 18-20px fw:     lh: 1.7
Button        fs: fw: lh: 
Ext Hyperlink fs:16px  fw: lh:

*/

* {
    box-sizing: border-box;
}
header {
    background-color: #f0e4d8;
    padding: 15px;
    /* margin: 0 15px; */
    border-bottom: 3px solid #0F4C81;
    box-shadow: 0px 7px 10px rgba(50, 50, 50, 0.65);
    position: fixed;
    width:100%;
}

main {
    padding-top: 166px;
}

body {
    font-family: 'Heebo', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
}

footer {
    background-color: #f0e4d8;
    padding: 10px;
    margin: 10px;
    border-top: 3px solid #0F4C81;
}

h1 {
    font-size: 2.25em;
    font-weight: 700;
    line-height: 1.5;
}
h2 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.5;
}
.subtitle {
    text-align: center;
}
h3 {
    font-size: 1.75em;
    font-weight:600;
    line-height: 1.5;
}
h4 {
    font-size: 1.5em;
    font-weight: 900;
    margin: 16px 0;
}
h5 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
}
.logo_font {
    font-size: 1.75em;
    display: inline-block;
}
/* h6 {
    font-weight: 500;
    line-height: 1.4;
}  */
p {
    margin: 16px 0;
}
img {
    width: 100%;
}
.logo {
    width: 7.5%;
    height: 7.5%;
    min-width: 40px;
    min-height: 40px;
    max-width: 250px;
    max-height: 250px;
}

.icon {
    width: 3%;
    height: 3%;
    min-width: 40px;
    min-height: 40px;
    padding: 5px;
}

.my_photo {
    width: 30%;
    height: 30%;
    min-width: 290px;
}

a {
    color: #5999D4;
    font-weight: 500;
    text-decoration: none;
}

/* a:visited {
    color: #719D48;
} */

a:hover, a:active {
    color: #0F4C81;
}

/*Button Style*/

.button {
    display: inline-block;
    color: #FFFFFF;
    font-weight: 700;
    padding: 5px 13px;
    border-radius: 10px;
    transition: 0.2s opacity;
}

.view_more, .view_more:visited {
    background-color: #f0e4d8;
    color: #0F4C81;
    border-bottom: 3px solid #b3aaa1; 
}
/* .view_more:hover {
    background-color: #FBA01D;
    color: #FFFFFF;
    text-decoration:none;
    border-bottom: 3px solid #a46814; 
} */
.view_more:hover .view_more:active {
    background-color:  #272b2e;
    color: #f0e4d8;
    text-decoration:none;
    border-bottom: 3px solid  #b3aaa1; 
} 


.b_general, .b_general:visited {
    background-color: #3c87cd;
    border-bottom: 3px solid #0F4C81; 
}
.b_general:hover, .b_general:active {
    background-color: #0F4C81;
    color: #ffffff;
    text-decoration:none;
    border-bottom: 3px solid #3c87cd; 
}

.b_cv {
    margin: 8px 0 20px 0;
}
/*
LAYOUT STYLING
*/

.container {
    padding: 0 15px;
}
.row {
    margin: 25px 0;
}
.project_row {
    background-color: #fff8ef;
    border-radius:10px;
}

#self_intro_short {
    background-color: #f9eee0;
    padding: 20px 20px;
    display: inline-block;
    width: 100%
}
#self_intro_short h2 {
    text-align: center;
    /* margin: 0;
    padding: 0.67em 0; */
}

nav > ul {
    list-style-type: none;
    /* margin:10px 0;  without this, there are top&bottom margins.. why?*/
    padding: 0;
    display: inline-block;
    width: 100%;
}
nav > ul > li {
    display: inline-block;
}
nav > ul > li > a {
    padding:0 7px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: min(6vw, 25px);
}
.menu {
    /* display: inline-block; */
    /* text-align: right; */
    float: right;
}
.menu_current {
    color: #0F4C81;
    font-weight: 900;
}

.project_tile {
    padding: 0 16px 16px 16px;
    display: inline-block;
    max-width: 450px;
}
.project_thumbnail {
    display: inline-block;
    max-width: 767px;
    padding: 10px 8px 5px 8px;
}

/* About Page*/
.question_tile {
    background-color: #fff8ef;
    border-radius:10px;
    padding: 16px;
    margin: 8px 0;
}
.skill_tile {
    background-color: #fff8ef;
    border-radius:10px;
    padding: 16px;
    margin: 25px 0;
}
.skill_points {
    display: inline-block;
    max-width: 350px;
    margin: 0 40px 0 0;
}

